.App {
  text-align: center;
}


.App-header {
  background-color: lightpink;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Geostar Fill', cursive;
  color: white;
}

.cards {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#ship {
  font-family: 'Geostar Fill', cursive;
}
#model {
  font-family: 'Geostar Fill', cursive;
}

.table {
  color: blueviolet;
  

}

